<h1>Create a New Article</h1>
<form action="/articles" method="post">
  <h2>Title: <input type="text" name="title"></h2>
  <br>
  <h3>Content:</h3>
  <br>
  <textarea name="content" rows="8" cols="80"></textarea>
  <br>
  <input type="submit" value="Submit">
</form>
